@using Sombra.Web.Infrastructure.Extensions
@model Sombra.Web.ViewModels.Story.StoryViewModel

@section Title{
    @Model.Title
}

@section Styles{
    <link rel="stylesheet" href="~/css/story/story.css" />
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="~/css/story/desktop.css" />
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
}
@section Scripts {
    <script src="~/js/story.js"></script>
    <script>
        $(document).ready(function () {
            $('#other-story').load('@Html.BaseUrl(Url.Action("GetStory", "Story"))');
            $('#more-stories').load('@Html.BaseUrl(Url.Action("GetRelatedStories", "Story"))');
        });
    </script>
}
@*Background Picture*@
<div class="header-image" style="background-image:url(@Model.CoverImage)"></div>

<div class="story-container container">
    @*Profile picture*@
    <div class="story-logo">
        <div class="story-logo-container">
            <div class="shape-frame" style="background-image:url(@Model.AuthorProfileImage)">
            </div>
        </div>
        <div class="profile-name">@Model.AuthorName</div>
    </div>
    @*title & story*@
    <div id="about">
        <div class="about-text">
            <h2>@Model.Title</h2>
            <p>@Model.OpeningText</p>
            <div class="story-image" style="background-image:url(@Model.StoryImage); background-size:cover; background-position:center;"></div>
            <p>@Model.CoreText</p>
            <h1>“@Model.QuoteText”</h1>
            <p>@Model.ConclusionText</p>
        </div>
        
        @if (Model.Images.Any())
        {
            <div class="slide-container">
                <div class="main-carousel">
                    @foreach (var image in Model.Images)
                    {
                        <div id="image-slider">
                            <div class="images" style="background-image:url(@image); background-size:cover; background-position:center;"></div>
                        </div>
                    }
                </div>
                @if (Model.Images.Count > 2)
                {
                    <div class="button button--previous"></div>
                    <div class="button button--next"></div>
                }
            </div>
        }
    </div>

</div>
<div id="share-story" class="share-story">
    <div class="share-instagram"></div>
    <div onclick="location.href='https://twitter.com/ikdoneernu'" class="share-twitter pointer"></div>
    <div onclick="location.href='Assets/nabeleving-facebook.png'"  class="share-facebook pointer"></div>
    <p>DEEL DIT VERHAAL OOK OP SOCIAL MEDIA</p>
</div>
<div class="share-text">
    <div class="shared-container">
        <h2>Deel je eigen verhaal</h2>
        <p>Heb jij ook een bijzonder verhaal over doneren en wil je dat met ons delen? Dat kun je hier doen. Wie weet staat jouw verhaal straks op de homepage!</p>
        <a href="@Html.BaseUrl(Url.Action("CreateStory","Dashboard"))">
            <button class="big-button colored-button">
                <span>Deel mijn verhaal</span>
            </button>
        </a>
    </div>
</div>

<div id="other-story"></div>

<div id="more-stories"></div>