@model Sombra.Web.ViewModels.Story.StoryViewModel

@{ ViewData["Title"] = "Story"; }

@section Styles{
    <link rel="stylesheet" href="~/css/story/story.css" />
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="~/css/story/desktop.css" />
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
}
@section Scripts {
    <script src="~/js/story.js"></script>
}
@*Background Picture*@
<div class="header-image" style="background-image:url(@Model.MainImage)"></div>

<div class="story-container container">
    @*Profile picture*@
    <div class="story-logo">
        <div class="story-logo-container">
            <div class="shape-frame " style="background-image:url(@Model.UserImage)">
            </div>
        </div>
        <div class="profile-name">@Model.UserFirstName @Model.UserLastName</div>
    </div>
        @*title & story*@
        <div id="about">
            <div class="row about-text">
                <h2>@Model.Title</h2>
                <p>@Model.Story[0]</p>
                <div class="story-image" style="background-image:url(@Model.MainImage)"></div>
                <p>@Model.Story[1]</p>
                <h1>“@Model.Quote”</h1>
                <p>@Model.Story[2]</p>
            </div>
        </div>
        @*Active acitons*@
        <div id="acties">
            <div class="slider-container">
                <div id="charity-actions-carousel" class="main-carousel">
                    @foreach (var image in @Model.Images)
                    {

                            <div id="image-slider">
                                <div class="images" style="background-image:url(@image);"></div>
                            </div>

                    }
                </div>
                <div class="button button--previous"></div>
                <div class="button button--next"></div>
            </div>
        </div>
</div>
<div id="share-story" class="share-story">
    <div class="share-instagram"></div>
    <div class="share-twitter"></div>
    <div class="share-facebook"></div>
    <p>DEEL DIT VERHAAL OOK OP SOCIAL MEDIA</p>
</div>
    <div class="share-text">
    <h2>Deel je eigen verhaal</h2>
    <p>Wat voor reden heeft deze donatie voor jou? Heb je een speciaal verhaal wat je met ons en mede-donateurs wilt delen? Deel jouw verhaal in en wie weet kom jij op onze verhalen pagina!</p>
</div>
