@{ ViewData["Title"] = "Home Page"; }
@section Styles{
    <link rel="stylesheet" href="~/css/stories/stories.css" />
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
}

@section Scripts {
    <script src="~/js/stories.js"></script>
}

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-text">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>
                            Verhalen vertellen
                            is iets bijzonders
                        </h3>
                        <p>Zie wat delen met mensen doet! Bekijk de video.</p>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stories-info" class="col-md-12">
    <div class="container">
        <p>
            <bold>Ikdoneer.nu</bold> draait om de verhalen van donateurs. De verhalen laten ons zien hoe mooi het is om te delen. Laat je inspireren door de verhalen van donateurs die jou voorgingen. Heb jij ook een bijzonder verhaal over doneren en wil je dat met ons delen? Dat kan hier!
        </p>
        <div class="container">
            <div class="about-btn">
                <a href="#"></a>
                <div class="small-arrow"></div>
                <span>Lees zijn verhaal</span>
            </div>
            <div class="about-btn2">
                <a href="#"></a>
                <div class="small-arrow"></div>
                <span>Lees zijn verhaal</span>
            </div>

        </div>
    </div>
</div>
<div id="more-stories">
    <div class="more-stories-field">
        <h3 class="title">De verhalen</h3>
        <div>
            @{
                int indexer = 0; //can be used to get a difrent part of the array
                for (int i = 0 + indexer; i < indexer + 9; i++)
                {
                    if (i < @Model.EqualStories.Length)
                    {
                        <div class="column" style="background-image:url(@Model.EqualStories[i].MainImage);">
                            <a href="#" style="text-decoration:none;">
                                <div class="text-column">
                                    <p>@Model.EqualStories[i].Title</p>
                                    <span class="fading-text">Nulla facilisi. Quisque ut consectet ipsum, at efficitur mauris. Pellentesque habitat Nulla facilisi. Quisque ut consectet ipsum, at efficitur mauris….</span>
                                    <a class="fading-link">
                                        <br>Lees meer
                                    </a>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        break;
                    }
                }
            }
        </div>
    </div>
    <div id="pagination">
        <a href="#"><img src="Assets/icons/arrow-icon-to-left.svg" alt="#"></a>
        <a class="source-700" href="#">1</a>
        <a class="source-300" href="#">2</a>
        <a class="source-300" href="#">3</a>
        <a class="source-300" href="#">4</a>
        <a class="source-300" href="#">...</a>
        <a class="source-300" href="#">12</a>
        <a href="#"><img src="Assets/icons/icon-arrow-to-right.svg" alt="#"></a>
    </div>
</div>

<div class="share-text">
    <div class="shared-container">
        <h2>Deel je eigen verhaal</h2>
        <p>Wat voor reden heeft deze donatie voor jou? Heb je een speciaal verhaal wat je met ons en mede-donateurs wilt delen? Deel jouw verhaal in en wie weet kom jij op onze verhalen pagina!</p>
        <a href="#">
            <button class="big-button">
                <span>Deel mijn verhaal</span>
            </button>
        </a>
    </div>
</div>

<div id="other-story">
    <div class="story-board">
        <div class="other-story-logo">
            <div class="other-story-logo-container">
                <div class="other-profile-image " style="background-image:url(@Model.RandomStory.UserImage)">
                </div>
            </div>
            <div class="profile-name">@Model.RandomStory.UserFirstName @Model.RandomStory.UserLastName</div>
        </div>
        <p>“@Model.RandomStory.Quote”</p>
        <a href="#">Lees dit verhaal</a>
    </div>
</div>

<div id="header-images">
    <div class="header-images">
        <iframe width="1280" height="750" src="https://www.youtube.com/embed/ZXRA5ostcK0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>