@using Sombra.Messaging
@model Sombra.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    @Html.EditorFor(m => m.VerifiedPassword)
    @Html.ValidationMessageFor(m => m.VerifiedPassword)

    <input type="submit" value="Submit" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}   

