@model Sombra.Web.ViewModels.Donate.DonateViewModel;
@using Sombra.Core.Enums;
@using Sombra.Web.Infrastructure.Extensions

@section Title{
    Doneren
}

@section Styles{
    <link rel="stylesheet" href="~/css/donating/donating.css" /> }
@section Scripts {
    <script>
        var charitiesUrl = '@Html.BaseUrl(Url.Action("GetCharities", "Donate"))';
        var charityActionsUrl = '@Html.BaseUrl(Url.Action("GetCharityActions", "Donate"))';
        var urlParts = window.location.href.split('.');
        var subdomain = urlParts.length > 2 ? urlParts[0].match(/\/\/(.*)/)[1] : '';
    </script>
    <script src="~/js/donate.js"></script>
}

<div id="background-frame"></div>

<div id="form-donate">
    <form asp-controller="Donate" asp-action="Index" id="donating-form" method="post">
        <section class="section-1">
            <div class="donate-progress">
                <div class="orange-ball .first-section"></div>
                <div class="grey-ball"></div>
                <div class="grey-ball"></div>
                <div class="grey-ball"></div>
            </div>

            <div class="title-holder">
                <div class="donate-step">
                    <p>1</p>
                </div>
                <h3 class="donate-title monster-400">Ik doneer aan...</h3>
            </div>


            <a href="@Html.HomeUrl()" class="closing"><span class="donate-close"></span><span class="donate-close"></span></a>

            <div class="choose-cause">
                <div class="radio-holder">
                    <input type="radio" id="control_01" name="select" value="charity" required>
                    <label for="control_01" class="validatable">
                        <h2 class="source-600 radio-input-tag"> een goed doel</h2>
                    </label>
                </div>

                <div class="radio-holder">
                    <input type="radio" id="control_02" name="select" value="charity-action">
                    <label for="control_02" class="validatable">
                        <h2 class="source-600 radio-input-tag"> een actie</h2>
                    </label>
                </div>
            </div>

            <div class="select-charity">
                <div class="chevron"></div>
                <select id="select-your-charity" name="new-charity" form="form-donate" required>
                    <option></option>
                </select>
            </div>

            <div class="select-charity select-action">
                <div class="chevron"></div>
                <select id="select-action" name="new-action" form="form-donate" required>
                    <option></option>
                </select>
            </div>

            <p class="charity-information"></p>

            <div class="choose-your-payment">

                <span class="section-1-choose-amount monster-800">KIES HET BEDRAG</span>

                <div class="choose-money-amount">
                    <div class="radio-holder">
                        <input type="radio" id="10" name="money" value="10" required>
                        <label for="10" class="validatable">
                            <h2 class="source-600 radio-input-tag">&euro;10</h2>
                        </label>
                    </div>

                    <div class="radio-holder">
                        <input type="radio" id="20" name="money" value="20">
                        <label for="20" class="validatable">

                            <h2 class="source-600 radio-input-tag">&euro;20</h2>
                        </label>

                    </div>

                    <div class="radio-holder">
                        <input type="radio" id="30" name="money" value="30">
                        <label for="30" class="validatable">

                            <h2 class="source-600 radio-input-tag">&euro;30</h2>
                        </label>

                    </div>

                    <div class="radio-holder">
                        <input type="radio" id="50" name="money" value="50">
                        <label for="50" class="validatable">

                            <h2 class="source-600 radio-input-tag">ander bedrag</h2>
                        </label>

                    </div>
                </div>

                <div class="payment-options">

                    <div class="radio-holder">
                        <input type="radio" id="one-time" name="pay-time" value="1" required>
                        <label for="one-time" class="validatable">

                            <h2 class="source-600 radio-input-tag">eenmalig</h2>
                        </label>

                    </div>

                    <div class="radio-holder">
                        <input type="radio" id="monthly" name="pay-time" value="2">
                        <label for="monthly" class="validatable">

                            <h2 class="source-600 radio-input-tag">maandelijks</h2>
                        </label>

                    </div>

                    <div class="radio-holder">
                        <input type="radio" id="yearly" name="pay-time" value="3">
                        <label for="yearly" class="validatable">
                            <h2 class="source-600 radio-input-tag">jaarlijks</h2>
                        </label>

                    </div>

                </div>
            </div>

            <div class="next-step-holder">
                <div class="next-step colored-button" id="next-to-section-2">
                    <div class="arrow"></div>
                    <span>Volgende stap</span>
                </div>
            </div>
        </section>

        <section class="section-2">
            <div class="donate-progress">
                <div class="orange-ball-closed first-section">
                    <div class="progress-stroke"></div>
                </div>
                <div class="orange-ball second-section"></div>
                <div class="grey-ball"></div>
                <div class="grey-ball"></div>
            </div>

            <div class="goBack-holder">
                <div class="go-back-icon"></div>
                <p class="source-500">Vorige stap</p>
                <a id="go-back" href="#"></a>
            </div>

            <div class="title-holder">
                <div class="donate-step">
                    <p>2</p>
                </div>
                <h3 class="donate-title monster-400">Ik doneer via...</h3>
            </div>


            <a href="@Html.HomeUrl()" class="closing"><span class="donate-close"></span><span class="donate-close"></span></a>

            <div class="pay-option">
                <div class="radio-holder">
                    <input type="radio" id="ideal" name="choose-pay-options" value="1" required>
                    <label for="ideal" class="validatable">
                        <h2 class="source-600 radio-input-tag"> iDeal</h2>
                    </label>
                </div>

                <div class="radio-holder">
                    <input type="radio" id="permission" name="choose-pay-options" value="2">
                    <label for="permission" class="validatable">
                        <h2 class="source-600 radio-input-tag"> machtiging</h2>
                    </label>
                </div>


                <div class="radio-holder">
                    <input type="radio" id="paypall" name="choose-pay-options" value="3">
                    <label for="paypall" class="validatable">
                        <h2 class="source-600 radio-input-tag"> PayPal</h2>
                    </label>
                </div>
            </div>

            <div class="select-bank">
                <div class="chevron"></div>
                <select id="select-your-bank" name="new-bank" form="form-donate" required></select>
            </div>

            <div class="your-iban-holder">
                <div class="filled-icon"></div>
                <input class="source-300 validatable" id="iban" type="text" placeholder="IBAN">
            </div>

            <div id="person-detail" class="personal-information ">
                <p class="person-adress monster-700">PERSOONSGEGEVENS</p>
                <p class="source-300 information-person-data">Om te doneren is het invullen van je persoonsgegevens niet verplicht. Wil je toch de resultaten van je donatie ontvangen of anderen inspireren met jouw donatie, vul dan je gegevens in.</p>

                <div class="person-name">

                    <input class="source-300" type="text" id="person-firstname-2" placeholder="Voornaam">

                    <div class="person-lastname-2">
                        <input class="source-300" type="text" id="person-lastname-2" placeholder="Achternaam">
                    </div>
                </div>

                <div class="person-location">
                    <div class="person-postcode">
                        <input class="source-300" type="text" id="person-postcode-2" placeholder="Postcode">
                    </div>

                    <div class="person-housenumber">
                        <input class="source-300" type="text" id="person-housenumber-2" placeholder="nr.">
                    </div>
                    <input class="source-300" type="text" id="person-addition-2" placeholder="toev.">
                    <p>Bijv. B</p>
                </div>

                <div class="person-email">
                    <input type="email" class="source-300" placeholder="E-mailadres">
                </div>
            </div>

            <div class="personal-information">
                <p class="person-adress monster-700">PERSOONSGEGEVENS</p>

                <div class="person-name">

                    <input class="source-300" type="text" id="person-firstname" placeholder="Voornaam">

                    <div class="person-lastname">
                        <div class="required-dot"></div>
                        <input class="source-300" type="text" id="person-lastname" placeholder="Achternaam">
                    </div>
                </div>

                <div class="person-location">
                    <div class="person-postcode">
                        <div class="required-dot"></div>
                        <input class="source-300" type="text" id="person-postcode" placeholder="Postcode">
                    </div>

                    <div class="person-housenumber">
                        <div class="required-dot"></div>
                        <input class="source-300" type="text" id="person-housenumber" placeholder="nr.">
                    </div>
                    <input class="source-300" type="text" id="person-addition" placeholder="toev.">
                    <p>Bijv. B</p>
                </div>

                <div class="person-email">
                    <input class="source-300" type="email" id="person-email" placeholder="E-mailadres">
                </div>

                <div class="person-information-birthday">
                    <p class="person-birthday monster-700">GEBOORTEDATUM</p>
                    <input class="source-300" type="number" id="person-birth-day" placeholder="dd">
                    <input class="source-300" type="number" id="person-birth-month" placeholder="mm">
                    <input class="source-300" type="number" id="person-birth-year" placeholder="jjjj">
                    <div class="birth-required"></div>
                </div>

                <div class="required-fields">
                    <div class="birth-required"></div>
                    <p class="source-300">verplichte velden</p>
                </div>


            </div>

            <div class="next-step-holder">
                <div class="next-step colored-button" id="next-to-section-3">
                    <div class="arrow"></div>
                    <span>Volgende stap</span>
                </div>
            </div>

        </section>

        <section class="section-3">
            <div class="donate-progress">
                <div class="orange-ball-closed first-section">
                    <div class="progress-stroke"></div>
                </div>
                <div class="orange-ball-closed second-section">
                    <div class="progress-stroke"></div>
                </div>
                <div class="orange-ball third-section"></div>
                <div class="grey-ball"></div>
            </div>

            <div class="goBack-holder">
                <div class="go-back-icon"></div>
                <p class="source-500">Vorige stap</p>
                <a id="go-back" href="#"></a>
            </div>

            <a href="@Html.HomeUrl()" class="closing"><span class="donate-close"></span><span class="donate-close"></span></a>


            <div class="title-holder">
                <div class="donate-step">
                    <p>3</p>
                </div>
                <h3 class="donate-title monster-400">Overzicht</h3>
            </div>

            <div class="payment-holder">
                <div class="pen-icon first-section">
                    <div class="pen-icon-image"></div>
                </div>
                <p class="monster-600">Doneren aan:<span id="summary-donate-to" class="monster-300"></span></p>
                <p class="monster-600">Bedrag:<span id="summary-amount" class="monster-300"></span></p>
                <p class="monster-600">Periode:<span id="summary-period" class="monster-300">MS Moves</span></p>
            </div>

            <div class="payment-user-info-holder">
                <div class="pen-icon second-section">
                    <div class="pen-icon-image"></div>
                </div>
                <p class="monster-600">Doneren via:<span id="summary-donate-type" class="monster-300"></span></p>
                <p class="monster-600">Bank:<span id="summary-iban" class="monster-300"></span></p>
                </br>
                <p class="monster-600">Voornaam:<span id="summary-first-name" class="monster-300"></span></p>
                <p class="monster-600">Achternaam:<span id="summary-last-name" class="monster-300"></span></p>
                <p class="monster-600">Postcode:<span id="summary-postcode" class="monster-300"></span></p>
                <p class="monster-600">E-mailadres:<span id="summary-email" class="monster-300"></span></p>
                <p class="monster-600">Huisnummer:<span id="summary-house-number" class="monster-300"></span></p>
                <p class="monster-600">Toevoeging:<span id="summary-house-addition" class="monster-300"></span></p>
                <p class="monster-600">Geboortedatum:<span id="summary-birth-date" class="monster-300"></span></p>
            </div>

            <div class="next-step-holder">
                <div class="next-step colored-button" id="next-to-section-4">
                    <div class="arrow"></div>
                    <span>Doneer nu</span>
                </div>
            </div>

        </section>
    </form>


    <section class="section-4"></section>
</div>