@using Sombra.Core.Extensions
@using Sombra.Web.Infrastructure.Extensions
@model Sombra.Web.ViewModels.Charity.SearchResultViewModel
<div class="charity-holder">
    <a class="clickable" href="@Html.SubdomainUrl(Model.Url)"></a>
    <div class="charity-background-image" style="background-image: url(@Model.CoverImage)">
        <div class="charity-logo" style="background-image: url(@Model.CoverImage)"></div>
        <div class="charity-background-gradient"></div>
    </div>

    <a href="@($"{Html.SubdomainUrl(Model.Url)}/doneer")" class="charity-btn"></a>

    <div class="charity-text-holder">
        <h3 class="source-700 charity-title">@Model.Slogan</h3>
        <a class="source-400 go-to-charity" href="@Html.SubdomainUrl(Model.Url)">Bekijk goed doel</a>

        <div class="charity-item-category-holder">
            @foreach (var category in Model.Category.GetIndividualFlags())
            {
                <label class="source-400 charity-item-category">@category.GetDisplayName().ToUpper()</label>
            }
        </div>
    </div>
</div>