@using Sombra.Core.Extensions
@using Sombra.Web.Infrastructure.Extensions
@model Sombra.Web.ViewModels.Charity.SearchResultViewModel
<div class="charity-holder">
    <a class="clickable" href="@Html.SubdomainUrl(Model.Url)"></a>
    <div class="charity-background-image" style="background-image: url(@Model.CoverImage)">
        <img src="@Model.Logo" class="charity-logo">
        <div class="charity-background-gradient"></div>
    </div>
    
    <div class="charity-btn colored-button">
        <a href="@($"{Html.SubdomainUrl(Model.Url)}{Url.Action("Index", "Donate")}")"></a>
        <div class="arrow"></div>
        <span>Doneer nu</span>
    </div>

    <div class="charity-text-holder">
        <h3 class="source-700 charity-title">
            @(Model.Slogan.Length > 55 ? $"{Model.Slogan.Substring(0, 53)}..." : Model.Slogan)
        </h3>
        <a class="source-400 go-to-charity" href="@Html.SubdomainUrl(Model.Url)">Bekijk goed doel</a>

        <div class="charity-item-category-holder">
            @foreach (var category in Model.Category.GetIndividualFlags().Take(1))
            {
                <label class="source-400 charity-item-category">@category.GetDisplayName().ToUpper()</label>
            }
        </div>
    </div>
</div>