@using Sombra.Core.Enums
@using Sombra.Core.Extensions
@using Sombra.Web.Infrastructure.Extensions;
@model Sombra.Web.ViewModels.Charity.CharityViewModel
@section Title{
    @Model.Name
}
@section Styles{
    <link rel="stylesheet" href="~/css/charity/charity.css" />
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="~/css/charity/desktop.css" />
    <link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 1200px)" href="~/css/charity/tablet.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="~/css/charity/mobile.css" /> }
@section Scripts {
    <script>
        $(document).ready(function() {
            $('#the_story').load('@Html.BaseUrl(Url.Action("GetCharityStory", "Charity", new { CharityKey = Model.CharityKey.ToString() }))');
            $('#donations').load('@Html.BaseUrl(Url.Action("GetCharityDonations", "Charity", new {CharityKey = Model.CharityKey.ToString()}))');
            $('#acties').load('@Html.BaseUrl(Url.Action("GetCharityActions", "Charity", new {CharityKey = Model.CharityKey.ToString(), PageSize = 50}))',
                function() {
                    var $carousel = $('.main-carousel').flickity({
                        cellAlign: 'left',
                        contain: true,
                        prevNextButtons: false,
                        pageDots: false
                    });

                    var flkty = $carousel.data('flickity');
                    var $cellButtonGroup = $('.button-group--cells');
                    var $cellButtons = $cellButtonGroup.find('.button');
                });
            });
    </script>
}

<div class="header-image" style="background-image:url(@Model.CoverImage)"></div>

<div class="charity-container container">
    @foreach (var category in Model.Category.GetIndividualFlags().Where(f => (Category)f != 0))
    {
        <div class="category">@category.GetDisplayName().ToUpper()</div>
    }
    <div class="kvk_ambi">ANBI nummer: @Model.Anbi</div>
    <div class="kvk_ambi">KvK nummer: @Model.KVKNumber</div>

    <div class="charity-logo">
        <div class="charity-logo-container">
            <div class="shape-frame " src="../../Assets/shape-frame.svg">
                <div class="charity-logo-white" style="background-image: url(@Model.Logo);">
                </div>
            </div>
        </div>

    </div>
    <div id="about">
        <div class="container">
            <div class="row about-text">
                <h3>@Model.Name</h3>
                <p>@Model.Description</p>
                <div class="donate-btn">
                    <a href="@Url.Action("Index", "Donate")" class="donateSVG"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="the_story"></div>
    <div id="acties"></div>
</div>

@*TODO Fix overflow main-storyboard and donations. main-storyboard has fixed height and absolute values*@
<div id="donations"></div>